<%= form_for(@dream) do |f| %>
  <% if @dream.errors.any? %>"
      <div id="error_explanation">
        <h2><%= pluralize(@dream.errors.count, "error") %> prohibited this dream from being saved:</h2>
  
        <ul>
        <% @dream.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <!--<%= f.label :content, 'Dream' %><br/> -->
      <span class="input-group-addon"><span class="icon-globe"></span>
      <%= f.text_area :content, :class => "form-control input-lg", :placeholder => "I Have A Dream...", size: "30x1" %>
    </div>

  <div class="actions">
    <%= f.submit "Share Dream", :class => "btn btn-success bt-lg"%>
  </div>
<% end %>
