<!--<ul id="<%= dream_item.id %>"> -->
<div class="dream-item">
	<p class="content">
		<!-- <span class="content"><%= dream_item.content %></span> -->
		<%= dream_item.content %></p>
		<!-- <span class="timestamp">
			Shared <%= time_ago_in_words(dream_item.created_at) %> ago.
		</span> -->
		<p class="timestamp">
			Shared <%= time_ago_in_words(dream_item.created_at) %> ago.
		</p>
	<!-- </p> -->
</div>