<!DOCTYPE html>
<html>
<head>
  <title>DreamShare</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600' rel='stylesheet'>
  <style type="text/css">
  	html {
			background: url(<%= random_back_img %>) no-repeat center center fixed;
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}
	</style>
</head>
<body>

<%= yield %>
<% if Rails.env == "production" %>
  <%= render "layouts/google-analytics" %>
<% end %>
</body>
</html>
